<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDFテンプレート</title>
</head>
<body style="font-family: NotoSansJP,'Google Sans',Roboto,arial,sans-serif;">
    <div name="first_page">
        <table style="width: 740px; height: 24px;">
            <tr>
                <td style="font-size: 11px; text-align: right;">出力日：{{output_date}}</td>
            </tr>
        </table>
        <table style="margin-top: 32px; height: 120px;">
            <tr style="height: 120px;">
                <td style="width: 120px;"></td>
                <td style="width: 500px; text-align: center; font-weight: normal; text-decoration:underline; font-size: 26px; margin-top: 4px; vertical-align: top;">支払通知書</td>
                <td style="width: 120px; border: 1px solid #000;"><img src="{{im_icon_url}}" style="width: 120px;"></td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
            </tr>
        </table>
        <table style="width: 740px; height: 360px; line-height: auto;">
            <tr style="vertical-align: top; height: 230px;">
                <td style="width: 230px; height: 230px; padding-right: 5px;">
                    <table style="height: 230px; border: 1px #000 solid; margin: 1px;">
                        <tr style="height: 22px;">
                            <th style="background-color:#000; color: #fff; font-size: 12px; font-weight: normal; text-align: left; vertical-align: middle;">送付先　（コード：{{destination_header}}）</th>
                        </tr>
                        <tr style="border: none; height: 155px;">
                            <td style="vertical-align: top; padding-top: 1px; padding-right: 0px;">
                                <p style="line-height: 12px;">〒{{destination_post_code}}</p>
                                <p style="margin-top: 10px; line-height: 11px;">{{destination_address}}</p>
                                <p style="margin-top: 10px;">TEL：{{destination_tel}}</p>
                                <p style="font-weight: bold;">{{destination_company}}</p>
                                <p style="text-align: right;">{{destination_thank}}</p>
                            </td>
                        </tr>
                        <tr style="border: none; height: 50px;">
                            <td>
                                <p>登録番号：{{destination_registration_number}}</p>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 290px; height: 230px; line-height: auto; padding-right:5px;">
                    <table style=" height: 230px; line-height: auto; border: 1px #000 solid; margin: 1px;">
                        <tr style=" height: 22px;">
                            <th style="background-color: #adadad; font-size: 12px; font-weight: normal; text-align: left; vertical-align: middle;">送付元　（コード：{{sender_header}}）</th>
                        </tr>
                        <tr style=" height: 205px;">
                            <td>
                                <table style=" height: 205px;">
                                    <tr style=" height: 155px;">
                                        <td style="vertical-align: top; padding-top: 1px; width: 185px; height: 155px;">
                                            <p style="line-height: 12px;">〒{{sender_post_code}}</p>
                                            <p style="margin-top: 10px; line-height: 11px;">{{sender_address}}</p>
                                            <p style="margin-top: 10px; color: red;">TEL：{{sender_tel}}</p>
                                            <p style="color: blue;">{{sender_company}}</p>
                                        </td>
                                        <td rowspan=2 style="width: 105px; height: 195px; vertical-align: top; padding-top: 10px;">
                                            <div style=" width: 95px; height: 95px; border: 1px #000 solid; padding: 4px 0 6px 7px;">
                                                <img style=" zoom:80%" src="{{stamp_image_url}}">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="height: 50px;">
                                        <td style="width: 185px;">
                                            <p style="font-weight: bold;">登録番号：{{sender_registration_number}}</p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 200px; height: 230px;">
                    <table style="height: 230px; vertical-align: middle;">
                        <tr style="height: 22px; border: 1px #000 solid;">
                            <th style="width: 80px; padding-left: 2px; text-align: left; background-color: #e4e4e4; color: #000; font-weight: bold;">通知日</th>
                            <td style="width: 120px; padding-left: 2px;">{{notice_info_item_value_notification_date}}</td>
                        </tr>
                        <tr style="height: 15px; border: none;">
                            <td></td>
                        </tr>
                        <tr style="height: 22px; border: 1px #000 solid;">
                            <th style="width: 80px; padding-left: 2px; text-align: left; background-color: #272727; color: #fff; font-weight: bold;">番号</th>
                            <td style="width: 120px; padding-left: 2px;">{{notice_info_item_value_notification_number}}</td>
                        </tr>
                        <tr style="height: 15px; border: none;">
                            <td></td>
                        </tr>
                        <tr style="height: 22px; border: 1px #000 solid;">
                            <th style="width: 80px; padding-left: 2px; text-align: left; background-color: #373737; color: #fff; font-weight: bold;">締日</th>
                            <td style="width: 120px; padding-left: 2px;">{{notice_info_item_value_notification_closing_day}}</td>
                        </tr>
                        <tr style="height: 15px; border: none;">
                            <td></td>
                        </tr>
                        <tr style="height: 22px; border: 1px #000 solid;">
                            <th style="width: 80px; padding-left: 2px; text-align: left; background-color: #e4e4e4; color: #000; font-weight: bold;">支払日</th>
                            <td style="width: 120px; padding-left: 2px;">{{notice_info_item_value_notification_payment_date}}</td>
                        </tr>
                        <tr style="height: 94px; border: none;">
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
            </tr>
        </table>
        <table style="width: 740px; height: 105px; line-height: auto;">
            <tr style="height: 46px; vertical-align: middle; font-size: 24px; font-weight: bold;">
                <th style="width: 225px; padding-left: 1px; border: 1px #000 solid; background-color: #adadad; text-align: left;">通知金額</th>
                <td style="width: 289px; padding-left: 9px; border: 1px #000 solid;">{{notice_amount_value}} 円</td>
                <td style="width: 210px;"></td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
            </tr>
            <tr style="height: 24px; vertical-align: middle;">
                <td style="width: 520px; padding-left: 1px; border: 1px #000 solid;" colspan="2">件名： {{subject}}</td>
                <td style="width: 200px;"></td>
            </tr>
            <tr style="height: 10px;">
                <td></td>
            </tr>
            <tr style="height: 24px;">
                <td style="width: 740px; padding-left: 1px;" colspan="3">※BtoBプラットフォーム 請求書では、通知書送付者のID及び履歴情報保管により、信頼性が担保されています。</td>
            </tr>
        </table>
        <table style="width: 740px; height: 24px; vertical-align: middle; line-height: auto; text-align: left; border: 1px #000 solid;">
            <tr style="height: 24px;">
                    <th style="width: 120px; padding-left: 1px; font-weight: normal; text-align: left; background-color: #adadad;">8%対象（税抜）</th>
                    <td style="width: 122px; padding-right: 2px; text-align: right; color: green;">{{amount_contents_item_value_tax_excluded}}</td>
                    <th style="width: 120px; padding-left: 1px; font-weight: normal; text-align: left; background-color: #adadad;">消費税額</th>
                    <td style="width: 122px; padding-right: 2px; text-align: right; color: yellow;">{{amount_contents_item_value_tax}}</td>
                    <th style="width: 120px; padding-left: 1px; font-weight: normal; text-align: left; background-color: #adadad;">合計金額（税込）</th>
                    <td style="width: 122px; padding-right: 2px; text-align: right; color: #000;">{{amount_contents_item_value_total_amount}}</td>
            </tr>
        </table>
        <p id="top_footer_content" style="width: 740px; height: 20px; font-size: 10px; text-align: center;"> <pdf:pagenumber>/<pdf:pagecount> </p>
    </div>

    <pdf:nexttemplate name="detail_page">
    {% for item in detail_content %}
        {% if loop.index == 1 or loop.index % 16 == 1 %}
            <pdf:nextpage>
            <div id="header_content">
                <table style="width: 740px; height: 24px;">
                    <tr>
                        <td style="text-align: left;">送付元： {{sender_company}}</td>
                        <td style="text-align: right;">出力日：{{output_date}}</td>
                    </tr>
                </table>
            </div>
            <table style="width: 740px; height: 40px; font-size: 11px; vertical-align: middle; line-height: auto; background-color: #adadad; border: 1px #000 solid;">
                <tr style="height: 20px;">
                    <th style="width: 60px;  padding-left: 2px; font-weight: normal; text-align: left;" >明細日付</th>
                    <th style="width: 176px; height: 40px; padding-left: 2px; font-weight: normal; text-align: left;"  rowspan="2">明細項目</th>
                    <th style="width: 86px; padding-left: 2px; font-weight: normal; text-align: left;" >単価</th>
                    <th style="width: 86px; padding-left: 2px; font-weight: normal; text-align: left;" >数量</th>
                    <th style="width: 56px; padding-left: 2px; font-weight: normal; text-align: left;" >単位</th>
                    <th style="width: 86px; padding-left: 2px; font-weight: normal; text-align: left;" >金額</th>
                    <th style="width: 86px; padding-left: 2px; font-weight: normal; text-align: left;" >消費税額</th>
                    <th style="width: 86px; padding-left: 2px; font-weight: normal; text-align: left;" >合計金額</th>
                </tr>
                <tr style="height: 20px;">
                    <th style="width: 60px; font-weight: normal; text-align: left; padding-left: 2px;" >明細番号</th>
                    <th style="width: 86px; font-weight: normal; text-align: left; padding-left: 2px;" colspan="3">部門</th>
                    <th style="width: 86px; font-weight: normal; text-align: left; padding-left: 2px;" colspan="3">備考</th>
                </tr>
            </table>
        {% endif %}
        <table style="width: 740px; height: 60px; font-size: 8px; vertical-align: middle; line-height: auto;">
            <tr style="height: 10px;" >
                <td></td>
            </tr>
            <tr style="height: 20px; border: 1px #000 solid;">
                <td style="width: 60px; padding-left: 2px;" >{{item.detail_day}}</td>
                <td style="width: 176px; height: 50px; padding-left: 2px;" rowspan="2">{{item.item_code}}<br>{{item.item_name}}</td>
                <td style="width: 86px; padding-right: 2px; text-align: right;" >{{item.unit_price}}</td>
                <td style="width: 86px; padding-right: 2px; text-align: right;" >{{item.quantity}}</td>
                <td style="width: 56px; padding-left: 2px;">{{item.unit}}</td>
                <td style="width: 86px; padding-right: 2px; text-align: right; line-height: 8px;" >{{item.amount}}<br>{{item.taxation}}</td>
                <td style="width: 86px; padding-right: 2px; text-align: right;" >--</td>
                <td style="width: 86px; padding-right: 2px; text-align: right;" >--</td>
            </tr>
            <tr style="height: 30px; border: 1px #000 solid;">
                <td style="width: 60px; padding-left: 2px;" >{{item.detail_number}}</td>
                <td style="width: 86px; padding-left: 2px;" colspan="3"></td>
                <td style="width: 86px; padding-left: 2px;" colspan="3"></td>
            </tr>
        </table>
        <table id="footer_content" style="width: 740px; height: 20px; font-size: 10px;">
            <td style="width: 100px;">※商品コードは16桁まで表示されます。</td>
            <td style="width: 540px; text-align: center;"> <pdf:pagenumber>/<pdf:pagecount> </td>
            <td style="width: 100px;"></td>
        </table>
    {% endfor%}
</body>

<style>
@page {
    size: A4 portrait;
    margin: 5mm 10mm;
    @frame footer_frame {
        -pdf-frame-content: top_footer_content;
        left:10mm; width:190mm; bottom:4mm; height:20px;
    }
}
@page detail_page{
    size: A4 portrait;
    margin: 10mm 10mm 5mm;
    @frame header_frame {
        -pdf-frame-content: header_content;
        left:10mm; width:190mm; top:5mm; height:24px;
    }
    @frame footer_frame {
        -pdf-frame-content: footer_content;
        left:10mm; width:190mm; bottom:4mm; height:20px;
    }
}

@font-face {
    font-family: 'NotoSansJP';
    src: url('./storage/templates/pdf_template/fonts/NotoSansJP-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSansJP';
    src: url('./storage/templates/pdf_template/fonts/NotoSansJP-Bold.ttf') format('truetype');
    font-weight: bold;
}
</style>
