<html>
    <head>
        <title>sample</title>
    </head>
    <body>
        <table>
            <tr>
                <th>id</th>
                <th>sortOrder</th>
                <th>parentSortOrder</th>
                <th>btId</th>
                <th>nameJp</th>
                <th>isExistData</th>
                <th>type</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.sortOrder}}</td>
                <td>{{item.parentSortOrder}}</td>
                <td>{{item.btId}}</td>
                <td>{{item.nameJp}}</td>
                <td>{{item.isExistData}}</td>
                <td>{{item.type}}</td>
            </tr>
            {% endfor%}
        </table>
    </body>
</html>
